.order-card {
  align-items: center;
  background-color: #cccccc;
  border-radius: 0.3rem;
  gap: 1%;
  height: 85px;
  justify-content: space-between;
  padding: 1%;
  width: 450px;
}

.order-number {
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 0.3rem;
  height: 100%;
  justify-content: center;
  width: 29%;
}

.order-status {
  align-items: center;
  background-color: aqua;
  border-radius: 0.3rem;
  justify-content: center;
  width: 49%;
}

.stretch {
  height: 100%;
}

.order-status h2 {
  font-weight: 500;
}

.order-details {
  flex-direction: column;
  gap: 0.2rem;
  height: 100%;
  justify-content: space-between;
  width: 49%;
}

.order-details span {
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 0.3rem;
  height: 45%;
  justify-content: center;
  text-align: center;
}

.group-2-order {
  flex-direction: column;
  width: 70%;
  gap: 0.2rem;
}

.group-2-a {
  justify-content: space-between;
}

.address {
  justify-content: end;
  align-items: center;
}
