.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 25%));
  margin: 0 auto;
  width: 100%;

  /* grid-gap: 20px; */
}

.product img {
  padding: 0;
  width: 100%;
}
