:root {

  --primary-green: #036b52;

  --secondary-green: #2fc18c;

  --primary-purple: #421981;

  --primary-blue: #056cf9;
}

.header {
  width: 100vw;
}

.flex {
  display: flex;
}

.nav-bar {
  background-color: var(--primary-green);
  justify-content: space-between;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.group-1 a, .group-2 a {
  padding: 1rem;
}

.group-1 a:hover {
  background-color: var(--secondary-green);
  transition: 150ms;
}

.group-1 h1 {
  background-color: var(--secondary-green);
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-weight: 500;
}

.group-2 .user {
  background-color: var(--primary-purple);
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-weight: 500;
}

.group-2 .logout {
  background-color: var(--primary-blue);
}

.group-2 .logout:hover {
  background-color: #005fe4;
  transition: 150ms;
}
