.login-page {
  height: 100vh;
  padding: 0 25px;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  margin: 0 auto;
  max-width: 500px;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.login-form {
  background-color: gray;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.login-form label {
  display: flex;
  flex-direction: column;
}
