@font-face {
  font-family: CollegeBlock;
  src: url('/src/fonts/CollegeBlock-Mzxn.ttf');
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: CollegeBlock , sans-serif;
  margin: 0;
  padding: 0;
}


:root {

  --black-light: rgb(43, 43, 43);

  --black-dark: black;
}

.btn {
  background-color: var(--black-light);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-block: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--black-dark);
}

.embreagados {
  max-width: 200px;
  width: 100%;
}

.total-price-button {
  background-color: rgb(27, 133, 71);
  color: white;
  border: 1px solid rgb(125, 202, 157);
  bottom: 50px;
  font-size: 16px;
  height: 30px;
  position: fixed;
  right: 30px;
  width: 170px;
}

.total-price-button:hover {
  background-color: rgb(125, 202, 157);
  border: 1px solid rgb(27, 133, 71);
  color: white;
  cursor: pointer;
}
