@font-face {
  font-family: CollegeBlock;
  src: url('/src/fonts/CollegeBlock-Mzxn.ttf');
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: CollegeBlock , sans-serif;
  margin: 0;
  padding: 0;
}


:root {

  --black-light: rgb(43, 43, 43);

  --black-dark: black;
}

.btn {
  background-color: var(--black-light);
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-block: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--black-dark);
}

.embreagados {
  max-width: 200px;
  width: 100%;
}

.total-price-button {
  align-items: center;
  background-color: rgb(27, 133, 71);
  border: 1px solid rgb(125, 202, 157);
  bottom: 50px;
  color: white;
  display: flex;
  float: right;
  font-size: 16px;
  font-size: 20px;
  padding: 7px 15px;
  position: fixed;
  right: 30px;
  text-align: center;
  width: auto;
}

.total-price-button:hover {
  background-color: rgb(125, 202, 157);
  border: 1px solid rgb(27, 133, 71);
  color: white;
  cursor: pointer;
}
